{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Find Truck-kun</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="nav-wrapp">
        <div class="left-side">
            <div class="nav-link-wrapper">
                <a href="/">Home</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/concept">Concept</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/howto" style="color:white;">How to Use</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="/about">About Us</a>
            </div>
        </div>
        <div class="right-side">
            <div class="brand">
                <div>JUAN LOUIS & ARIA</div>  
            </div>
        </div>
    </div>

    <img src="{% static 'explain.png' %}" alt="" style="position: relative;" width="30%">
    <div class="text" style="position: relative;float: left;font-size: x-large;">
        <h1>Ini Cara untuk Temukan yang Kau Cari</h1>
        <ol>
            <li>Klik Upload Dokumen</li>
            <li>Pilih file yang akan diupload</li>
            <li>Upload</li>
            <li>Tuliskan kata kunci di kolom pencarian</li>
            <li>Tekan Cari</li>
            <li>Kumpulkan 7 bola naga</li>
            <li>Kuasai dunia</li>
            <li>Daaaan file yang anda cari ditemukan dan terurut berdasarkan tingkat kemiripan</li>
            <li>Letakan cursor diatas judul untuk melihat jumlah kata dan tingkat kemiripan</li>
            <li>Tekan judul untuk membuka file</li>
        </ol>
    </div>
</body>
</html>